body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(210, 250, 101);
}

.todobody {
  max-width: 400px;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.todobody h2 {
  margin-top: 30px;
  margin-bottom: 17px; /* Decreased from default */
  color: #444;
}


.todohead {
  text-align: center;
  color: #333;
  margin-top: 10px;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #d4caca;
  flex: 1;
}

.input-container button {
  padding: 10px;
  background-color: rgb(222, 248, 149);
  color: black;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #c2f01e;
}

.todo-item h3 {
  color: #4f5343;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.todo-item:last-child {
  border-bottom: none;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-group button {
  padding: 8px;
  background-color: rgb(222, 248, 149);
  color: black;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #c2f01e;
}

.error-message {
  padding-left: 6px;
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
