body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0d1b2a;
}

.todobody {
  max-width: 400px;
  margin: 30px auto;
  background-color: #1b263b;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.todobody h2 {
  margin-top: 30px;
  margin-bottom: 17px;
  color: #e0e1dd;
}

.todohead {
  text-align: center;
  color: #e0e1dd;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.8rem;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #778da9;
  background-color: #0d1b2a;
  color: #e0e1dd;
  flex: 1;
  transition: border 0.3s;
}

.edit-input {
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #778da9;
  background-color: #0d1b2a;
  color: #e0e1dd;
  font-family: "Poppins", sans-serif;
  width: 50%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.edit-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #00b4d8;
}

.input-container input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #00b4d8;
}

.input-container button,
.button-group button {
  padding: 10px 14px;
  background-color: #00b4d8;
  color: #fff;
  border: none;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover,
.button-group button:hover {
  background-color: #0096c7;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #415a77;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item h3 {
  color: #e0e1dd;
  margin: 0;
  font-size: 1rem;
}

.button-group {
  display: flex;
  gap: 10px;
}

.error-message {
  padding-left: 6px;
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width:600px){
  .todobody{
    margin:20px;
    padding:20px;
    width:100%;
    box-sizing: border-box;
  }

  .input-container{
    flex-direction: column;
    align-items: stretch;
  }
}